<!--<!DOCTYPE html>-->
<!--<html lang="ja">-->
<!--  <head>-->
<!--    <meta charset="UTF-8" />-->
<!--    <link rel="stylesheet" href="app.css"-->
<!--  </head>-->
<!--  <body>-->
<!--    <div class="box">-->
<!--      <div class="box1 bg1"></div>-->
<!--      <div class="box1 bg2"></div>-->
<!--      <div class="box1 bg3"></div>-->
<!--      <div class="box1 bg4"></div>-->
<!--    </div>-->
    <!--<div class="box1"></div>-->
<!--    <script src="jquery.min.js"></script>-->
<!--    <script src="app.js"></script>-->
<!--  </body>-->
<!--</html>-->

<!--<!DOCTYPE html>-->
<!--<html lang="ja">-->
<!--  <head>-->
<!--    <meta charset="UTF-8" />-->
<!--    <link rel="stylesheet" href="app.css" />-->
<!--  </head>-->
<!--  <body>-->
<!--    <h1>childrenサンプル</h1>-->
<!--    <button>クリック</button>-->
<!--    <h3>リスト</h3>-->
<!--    <ul>-->
<!--      <li>Home</li>-->
<!--      <li>Concept</li>-->
<!--      <li>Products</li>-->
<!--      <li>Access</li>-->
<!--    </ul>-->
<!--    <script src="jquery.min.js"></script>-->
<!--    <script src="app.js"></script>-->
<!--  </body>-->
<!--</html>-->

<!--<!DOCTYPE html>-->
<!--<html lang="ja">-->
<!--  <head>-->
<!--    <meta charset="UTF-8" />-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>-->
<!--    <link rel="stylesheet" href="style.css" />    <title>Swiper導入</title>-->
<!--  </head>-->
<!--  <body>-->
<!--     <div class="swiper">-->
<!--      <div class="swiper-wrapper">-->
<!--        <div class="swiper-slide">-->
<!--          <img src="img/nature-1.jpg" alt="">-->
<!--        </div>-->
<!--        <div class="swiper-slide">-->
<!--          <img src="img/nature-2.jpg" alt="">-->
<!--        </div>-->
<!--        <div class="swiper-slide">-->
<!--          <img src="img/nature-3.jpg" alt="">-->
<!--        </div>-->
<!--        <div class="swiper-slide">-->
<!--          <img src="img/nature-4.jpg" alt="">-->
<!--        </div>-->
<!--        <div class="swiper-slide">-->
<!--          <img src="img/nature-5.jpg" alt="">-->
<!--        </div>-->
<!--      </div>-->
      <!-- ページネーションの要素 -->
<!--      <div class="swiper-pagination"></div>-->
      <!-- ナビゲーションボタン （前、次） -->
<!--      <div class="swiper-button-prev"></div>-->
<!--      <div class="swiper-button-next"></div>-->
<!--      <script src="script.js"></script>-->
<!--    </div>-->
<!--  </body>-->
<!--</html>-->

<!--<!DOCTYPE html>-->
<!--  <html lang="ja">-->
<!--  <head>-->
<!--    <meta charset="UTF-8"　/>-->
<!--    <meta name="viewport" content="width=device-width,initial-scale=1.0">-->
<!--    <title>9章【「トップへ戻る」ボタンを作ってみよう】</title>-->
<!--    <link rel="stylesheet" href="css/style.css" />-->
<!--  </head>-->
<!--  <body>-->
<!--    <h1>9章【「トップへ戻る」ボタンを作ってみよう】</h1>-->

<!--    <div class="box"></div>-->
<!--    <div class="box"></div>-->
<!--    <div class="box"></div>-->
<!--    <div class="box"></div>-->
<!--    <div class="box"></div>-->
<!--    <div class="box"></div>-->
<!--    <div class="box"></div>-->
<!--    <div class="box"></div>-->

<!--    <span id="back">-->
<!--      <a href="#">-->
<!--        <img src="img/arrow.png" alt="">-->
<!--      </a>-->
<!--    </span>-->

<!--    <script src="js/jquery.min.js"></script>-->
<!--    <script src="js/script.js"></script>-->
<!--  </body>-->

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>10章【ハンバーガーメニューを作ってみよう】</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <!--<h1>10章【ハンバーガーメニューを作ってみよう】</h1>-->
    
    <!--<div id="sp-menu">-->
    <!--  <h2>MENU</h2>-->
    <!--  <ul>-->
    <!--    <li><a href="#">MENU1</a></li>-->
    <!--    <li><a href="#">MENU2</a></li>-->
    <!--    <li><a href="#">MENU3</a></li>-->
    <!--    <li><a href="#">MENU4</a></li>-->
    <!--    <li><a href="#">MENU5</a></li>-->
    <!--  </ul>-->
    <!--</div>-->
    
    <!--<div id="hm-icon">-->
    <!--  <a class="menu-trigger" href="#">-->
    <!--    <span></span>-->
    <!--    <span></span>-->
    <!--    <span></span>-->
    <!--  </a>-->
    <!--</div>-->
    
    <!--<div class="box"></div>-->
    <!--<div class="box"></div>-->
    <!--<div class="box"></div>-->
    <!--<div class="box"></div>-->
    <!--<div class="box"></div>-->
    <!--<div class="box"></div>-->
    <!--<div class="box"></div>-->
    <!--<div class="box"></div>-->
    
    <h1>タブメニュー</h1>
    
    <div class="wrap">
      <ul id="tab-menu">
        <li><a href="#tab1" class="active">tab1</a></li>
        <li><a href="#tab2" class="">tab2</a></li>
        <li><a href="#tab3" class="">tab3</a></li>
        <li><a href="#tab4" class="">tab4</a></li>
      </ul>
      
      <div id="tab-contents">
        <div id="tab1" class="tab">
          <p>テキスト1</p>
        </div>
        <div id="tab2" class="tab">
          <p>テキスト2</p>
        </div>
        <div id="tab3" class="tab">
          <p>テキスト3</p>
        </div>
        <div id="tab4" class="tab">
          <p>テキスト4</p>
        </div>
      </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>